/* ==UserStyle==
@name Dark Nintendo Account
@namespace github.com/CodyMKW/My-Userstyles
@version 1.8.3
@description A dark theme for the Nintendo Account website!
@homepageURL https://sites.google.com/view/codymkw/userstyles
@supportURL https://github.com/CodysNintendoRoom/My-Userstyles/issues
@author CodyMKW (https://sites.google.com/view/codymkw/home)
@license CC-BY-SA-4.0
@preprocessor stylus
@var text fontname    "Font Name"  Avenir
==/UserStyle== */

@-moz-document domain("accounts.nintendo.com") {
body {
    color: #CCCCCC !important;
    background-color: #161616 !important;
}
.FamilyBtnAdd::before {
    background-color: #000000 !important;
}
.CheckBlockList_itemInner, .CheckBlockList_checkbox::before {
    border: 2px solid #000000 !important;
}
.Setting, .HeaderAccountMenu, .BoxBlock_body, .BoxBlock, .ProfileEdit, .LoginForm, .UnreceivedMailHelp, .c-blockBase, .AuthorizeAgeGateUsForm, .AuthorizeConsent_userBox {
    border: 1px solid #000000 !important;
    background-color: #202020 !important;
}
.SettingTitle, .SiteHeader, .SiteFooter, .HeaderAccountMenu_item a, .Term, .Modal, .Mii_item_inner, .Reauth_block, .PasswordEdit_block, .RegisterArea_lead span, .Account_userId, .NavList_item a, .ClientsSetting_title, .SignupForm, .SignupForm_inner, .AccordionList_item, .AuthorizeRedirect_pincode, .BoxBlock_head, .FamilyBtnAdd_icon, .c-blockBase_inner-bgGray, .c-userList_item::after, .c-header, .c-footer, .c-header_accountMenu, .c-header_accountMenu_logout a, .c-settingTitle, .c-setting, .c-secondaryAction_btn, .c-accordionList_item, .LoginForm_sns, .LoginForm input, .AuthorizeAgeGateUsForm_inner, .AuthorizeGuide_box, .c-settingNavList-accordion .c-settingNavList_item dt, .AccountConfiguration_row_label .icon-twitter-circle, .icon-google, .c-loginHistoryList_item {
    background-color: #202020 !important;
}
a.c-userList_item_inner:hover, .c-header_accountMenu_logout a:hover, .c-settingTitle_action:hover, .c-modal_content, .c-secondaryAction_btn:hover, .c-expand_title, .c-btn-secondary:hover {
    background: #161616 !important;
}
.SettingDetails_item, .HeaderAccountMenu_item, .AccordionList_item+.AccordionList_item, .c-header_accountMenu_logout, .c-settingDetails_item, .c-accordionList_item+.c-accordionList_item, .c-navList_item {
    border-top: 1px solid #000000 !important;
}
.HeaderAccountMenu_item a:hover, .formSelectLanguage select, .SettingTitle_action:hover, .SecondaryAction_btn:hover, .CheckBlockList_checkbox, .SnsLogin, .Expand_title, .c-checkBlockList .c-checkBlockList_checkbox, .AuthorizeConsent_userBoxTitle {
    background-color: #161616 !important;
}
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], select, textarea, .AllCheckList_checkbox, .LoginForm_body {
    background-color: #161616 !important;
    border: 1px solid #000000 !important;
}
[type="text"].is-error, [type="password"].is-error, [type="date"].is-error, [type="datetime"].is-error, [type="datetime-local"].is-error, [type="month"].is-error, [type="week"].is-error, [type="email"].is-error, [type="number"].is-error, [type="search"].is-error, [type="tel"].is-error, [type="time"].is-error, [type="url"].is-error, [type="color"].is-error, select.is-error, textarea.is-error {
    border-color: #ff4646 !important;
}
.btn-primaryInverse {
    color: #fff !important;
    background-color: #00c6b3 !important;
}
.btn-childInverse {
    color: #fff  !important;
    background-color: #ff8267 !important;
}
.SignupForm, .AccordionList, .c-header_accountMenu, .c-setting,.c-settingTitle_action, .c-loginHistoryListSummary_item+.c-loginHistoryListSummary_item .c-loginHistoryListSummary_itemInner, .c-secondaryAction_btn, .c-accordionList, .c-btn-secondary, .c-loginHistoryList_item {
    border: 1px solid #000 !important;
}
.CheckBlockList_checkbox, .c-checkBlockList_itemInner, .c-checkBlockList_checkbox, .AuthorizeConsent_userBoxTitleBtn {
    border: 2px solid #000000 !important;
}
.SecondaryAction_btn {
    border: 1px solid #000000 !important;
    background-color: #202020 !important;
    color: #7d7c7c !important;
}
.GlobalNav_listItem.is-active a, .GlobalNav_listItem a:hover {
    color: #00c6b3 !important;
}
.GlobalNav_listItem a, .SiteFooter_linksItem>a, .HeaderAccountMenu_item a {
    color: #7d7c7c !important;
}
.SettingTitle_action {
    color: #7d7c7c !important;
    border: 1px solid #000000 !important;
}
.ProfileEdit_item.nickname, .c-profileEdit_column {
    border-bottom: 1px solid #000000 !important;
}
.NavList_item a {
    color: #cccccc !important;
    box-shadow: 0 2px 0 0 #101010 !important;
}
    
.c-globalNav_listItem .icon:hover {
    fill: #12314f !important;
}
    
.NavList_item a .icon, .c-globalNav_listItem .icon, .c-loginHistoryListSummary_cell-left, .c-loginHistoryList_cell-left {
    fill: #cccccc !important;
}
.icon-complete svg {
    fill: #202020 !important;
}
.Account_userId, .AccordionList_item, .FamilyBtnAdd_text, .User_nickname, .AccordionList_subInfo, .c-footer_links_item>a, .c-header_accountMenu_logout a,.c-settingTitle_action, .c-globalNav_listItem a, .c-secondaryAction_btn, .c-accordionList_subInfo, .c-accordionList_item, .c-formSelectLanguage select, .c-btn-medium, .c-settingNavList_item>a, .c-settingNavList_item dt, .c-user_nickname, .c-loginHistoryList_title, .c-header_accountButton_nickname, .EmailOptInEditForm_notes, .c-allCheckList_title, .LoginHistory_notes, .LogoutConfirm_lead-notice, .ClientFriendsOptin_note {
    color: #cccccc !important;
}
body, h1, h2, p, li {
    font-family: fontname;
}
.c-footer_copyright:after {
    content: ' | Dark Nintendo Account v1.8.3 by CodyMKW' !important;
}
}
