/* ==UserStyle==
@name           Blur for NSFW Themes
@namespace      github.com/CodyMKW/My-Userstyles
@version        1.0.4
@description    Adds a blur effect to NSFW themes on Theme Plaza!
@homepageURL https://sites.google.com/view/codymkw/userstyles
@supportURL https://github.com/CodysNintendoRoom/My-Userstyles/issues
@author CodyMKW (https://sites.google.com/view/codymkw/home)
@license CC-BY-SA-4.0
==/UserStyle== */

@-moz-document domain("themeplaza.art") {
.theme-grid-item.card.bg-danger.mb-3 {
    -webkit-filter: blur(10px);
}
.theme-grid-item.card.bg-danger.mb-3:hover {
    -webkit-filter: blur(0px);
}
}
